.custom-in-strip {
    border: 1px solid green;
    padding: 5px;
}

.custom-in-strip.special-tab {
    font-size: 20px;
}

.custom-in-strip.selected-tab {
    background-color: yellowgreen;
    border:5px solid green;
}
